{% extends "base.html" %}

{% block content %}
    <h1>Professor Information</h1>
    <p> {{ professor.first_name }} {{ professor.last_name }} </p>
    <br><br>
    <h2> Courses </h2>
    <ul>
        {% for course in courses %}
            <li>
                {{ course.name }}:
                <br>
                {{ course.description }}
            </li>
        {% endfor %}
    </ul>

    <h2> Ratings </h2>
    <ul>
        {% for rating in ratings %}
            <li>{{ rating.rating }} / 10</li>
        {% endfor %}
    </ul>
    {{ avg_rating }}
    {% for star in range(avg_rating|int) %}
        ★
    {% endfor %}
    {% for star in range(10 - avg_rating|int) %}
        ☆
    {% endfor %}
    <br>

    {% if current_user.is_authenticated %}
    <form action = "" method = "post">
        {{ form.hidden_tag() }}
    <p>
        {{ form.rating.label }}
        {{ form.rating(size=2) }}
        {% for error in form.rating.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit }}
    </p>
    </form>
    {% endif %}

{% endblock %}